*{
    border: 1px hidden black;
}
body{
    max-width: 1366px;
    background-color: lightgoldenrodyellow;
    margin: 0 auto;
    color: rgb(26, 24, 24);
    font-family:  Tahoma, sans-serif;
    font-size: 16px;
    padding: 0 20px;
}
nav{
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
    font-family: cursive;
}
h1{
    display: inline-block;
    margin-bottom: 40px;
}
main{
    display: flex;
    justify-content: space-between;
}

div{
    display: inline-block;
}
footer{
    height: 150px;
    width: 100%;
    margin-top: 50px;
}

p{
    width: 600px;
}
#images img{
    margin: 5px;
    border: khaki 5px dashed;
}
#results{
    text-align: left;
}


#results button{
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color:rgb(233, 221, 110);
}
#results button:active{
    background-color: white;
}

#chartSection{
    margin: 0 auto;
    text-align: center;

}

form{
    margin: 20px 0;
    text-align: center;
    font-size: large;
}

canvas{

    width:800px !important;
    height:500px !important;
    border: solid rgb(233, 221, 110) 3px;
  
  }

#submit{
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color:rgb(233, 221, 110);
}

#selectChart{
    width: 100px;
    text-align: center;
}